
body{
    margin: 0;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}



.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 2;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 5vw;
    height: 5vw;
    border: solid 7px rgb(0, 0, 0);
    border-top: solid 7px #FFD700;
    border-radius: 50%;
    animation: loading 0.75s linear infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0turn);
    }

    100%{
        transform: rotate(1turn);
    }
}

/* Navigation */

.navbar-scrolled {
    height: 4em;
    background-color: rgba(255, 165, 0, 0.925);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

nav {
    margin-top: 4em;
    transition: all 0.5s;
}



.nav-child-1 {
    height: 4rem;
}

.index-img{
    width: 100%;
}

.navbar-brand{
    width: 50%;
}

.navbar-img{
    width: 9vw;
    margin-left: 90px;
}

#offcanvasNavbar ul li .nav-item-order{
    color: white;
    font-size: 20px;
    width: 9em;
    /* margin-left: 3.3em; */
    transition: all .50s;
}

#offcanvasNavbar ul li .nav-item-order:hover{
    color: black;
    background-color: white;
}

#offcanvasNavbar ul li{
    font-family: "Futura LT";
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 40px;
}


#offcanvasNavbar ul li .non-dropdown{
    color: white;
    transition: color .50s;
    font-size: 20px;
}

#offcanvasNavbar ul li .non-dropdown:hover{
    color: rgb(202, 202, 202);
}




.dropdown:hover .content{
    display: block; 
    animation: dropdownSlideIn .75s ease forwards;
}


@keyframes dropdownSlideIn {
    from {transform: translateX(100px);}
    to {transform: translateX(-50px);}
}



.content a:hover {
    background-color: black;
    color: white;
}

.index-nav{
    background-image: url(./images/l-intro-1645057933.jpg);
    background-size: cover;
    height: 55em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.contact-nav {
    background-image: url(./images/GettyImages-12925636271-ezgif.com-crop.jpg);
    background-size: cover;
    height: 50em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.about-nav {
    background-image: url(./images/istock-478831658-ezgif.com-webp-to-jpg-converter.jpg);
    background-size: cover;
    height: 50em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.menu-nav{
    background-image: url(./images/Chicken_Grilled_Blog_2-ezgif.com-crop.jpg);
    background-size: cover;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-toggler{
    margin-left: 20%;
}

ion-icon[name= "menu"] {
    font-size: 2em;
    color: white;
    text-decoration: none;
}



.down-arrow{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

ion-icon[name="chevron-down-outline"] {
    color: white;
    font-size: 50px;
    transition: .5s linear;
    text-decoration: none;
}


.down-arrow ion-icon[name="chevron-down-outline"]:nth-child(1){
    margin-bottom: -30px;
    animation: bounce 0.5s infinite alternate;
    transition: transform 0.3s ease;
    
}


.down-arrow ion-icon[name="chevron-down-outline"]:nth-child(2){
    margin-bottom: 4vw;
    animation: bounce2 0.5s infinite alternate;
    transition: transform 0.3s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(30px);
    }
}


/* Home Main Content  */

#home-main-content{
    padding: 70px;
    justify-content: center;
    background: #212529;
    display: flex;
    flex-direction: row;

}

.home-main-content-img img{
    width: 20vw;
    margin-right: 50px;
    border-radius: 18px;
}

.home-main-content-text{
    width: 50%;
    font-size: 1vw;
    font-family: "Futura LT";
    color: white;
    font-weight: 400;
    margin-top: 2em;
    
}

/* Home Features Content */

#home-features{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.home-features-content-1{
   background-image: url(./images/slowcookerchickentikkamasala.jpeg);
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 500px;
}

.home-features-content-1 h1{
    text-align: center;
    margin-top: 2em;
    font-size: 3vw;
    font-family: "Della Respira";
    color: white;
}

.home-features-content-2{
    background-color: #ffa500;
    width: 50%;
}

.home-features-content-2 h1{
    text-align: center;
    margin-top: 2em;
    font-size: 55px;
    font-family:"Della Respira" ;
    color: white;
}

.home-features-content-1 a {
    font-size: 2vw;
    margin: 70px auto;
}

.home-features-content-2 i {
    font-size: 3vw;
    margin: .5vw;
    color: #212529;
}

.feedback{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    color: white;
}

.feedback h4{
    font-family:"Futura LT" ;
    font-weight: 400;
    margin: auto;
}

.feedback p{
    font-family:"Futura LT" ;
    font-weight: 400;
    margin: 2em auto;
}

.feedback-stars i{
    font-size: 2vw;
    color:  white;
}



/* Contact Form */

.contact-container{ 
    width: 100%;
    height: 800px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #212529;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    font-family: "Della Respira";
    color: white;
    font-weight: 800;
    margin-bottom: 20px;   
}

form input, form textarea{
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    font-family: "Futura LT";
} 

form button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}



/* About */


#top-3-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#top-3-about .card {
    width: 20vw;
    margin-top: 45px;
    border: none;
}

#top-3-about .card-text {
    text-align: center;
    font-family: "Futura LT";
    font-size: 1.15vw;
    margin-top: 1em;
}

#top-3-about .card:nth-child(2) .card-text { 
    text-align: center;
    font-family: "Futura LT";
    font-size: 1.15vw;
    margin-top: 2em;
    margin-bottom: 1em ;
}

#top-3-about .card:nth-child(1) .card-img-top{
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;    
}


#top-3-about .card:nth-child(2) .card-img-top{
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
}


#top-3-about .card:nth-child(3) .card-img-top{
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

#about-view-our-menu {
    position: relative;
    background-image: url(./images/pexels-marvin-ozz-2474661.jpg);
    background-size: cover;
    height: 40em;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    cursor: pointer;
}

#about-view-our-menu:hover {
    background-image: url(./images/pexels-marvin-ozz-2474661.jpg);
}

#about-view-our-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#about-view-our-menu:hover::before {
    opacity: 1;
}

#about-view-our-menu h1 {
    position: relative;
    z-index: 1;
    font-family: "Futura LT";
    color: white;
    font-weight: bold;
    font-size: 6vw;
    text-align: center;
    width: 30%;
    transition: transform 0.5s ease-out;
}

#about-view-our-menu:hover h1 {
    transform: translateY(-50px);
}


#about-main-last p{
    text-align: center;
    margin: 90px 30px;
    font-family: "Futura LT";
    font-size: 1.5vw;
}

/* Menu  */

.menu-h1{
    text-align: center;
    font-size: 56px;
    font-family: "Della Respira";
    margin-top: 2em;
    margin-bottom: 1em;
    position: relative;
}

.menu-h1::before{
    content: "";
    height: 2px;
    width: 50%;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: -2;
    
}

 .menu-h1::after{
    content: "";
    height: 2px;
    width: 50vw;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: -2;
} 

.menu-h1 span{
    background: white;
    padding: 0 20px;
}

.menu{
    display: flex;
    flex-direction: row;
}


.menu-supporting{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    padding: 5%;
    column-gap: 3%;
}
 
.item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    margin-bottom: 1.5em;
}

.item > div {
    display: flex;
    flex-direction: row;
}

.item-name{
    font-family: "Futura LT";
    font-weight: 400;
    font-size: 30px;
    /* display: inline-block; */

}

.item-price {
    font-family: "Futura LT";
    font-weight: 400;
    font-size: 30px;
    /* display: inline-block; */
    margin-left: auto;
    margin-right: 15%;
} 


.item-desc{
    font-family: "Futura LT";
    font-size: 20px;
    margin-bottom: 1.5em;
    width: 90%;
} 

/* Footer */

footer{
    margin-top: 8em;
    background-color: #212529;
}

.footer-content-1 h2 {
    font-family: "Futura LT";
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.footer-content-1 p {
    font-family: "Poppins";
    font-size: 20px;
    color: white;
}


.footer-content-1-sup-content-1 div:nth-child(1) ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.footer-content-1-sup-content-1 div:nth-child(1) ul li .fa-brands {
    color: #000000;
    font-size: 4vw;
    line-height: 50px;
    transition: .5s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-1-sup-content-1 div:nth-child(1) ul li .fa-brands:hover {
    color: #ffffff;
}
.footer-content-1-sup-content-1 div:nth-child(1) ul li a {
    position: relative;
    display: block;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s; 
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.footer-content-1-sup-content-1 div:nth-child(1) ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.footer-content-1-sup-content-1 div:nth-child(1) ul li:nth-child(1) a:hover {
    background-color: #e4405f;
    text-decoration: none;
}
.footer-content-1-sup-content-1 div:nth-child(1) ul li:nth-child(2) a:hover {
    background-color: #3b5999;
    text-decoration: none;
}

.footer-content-1-sup-content-1 div:nth-child(1) ul li{
    list-style: none;
    margin: 0 10px;
}

.footer-content-1-sup-content-1 div:nth-child(1) ul li .fa-brands {
    color: #000000;
    font-size: 1vw;
    line-height: 50px;
    transition: .5s;
}


.footer-content-2{
    width: 45%;
    height: 40em;
    background-color: #ffa500;
}

.footer-content-2 h1{
    margin-top: 150px;
    font-size: 30px;
    font-family: "Della Respira";
    color: white;
}

.footer-content-2 button{
    margin-top: 30px;
    font-size: 20px;
    padding: 0 20px;
}

.footer-content-2 p{
    font-size: 30px;
    margin-top: 70px;
}



/* Buttons */

.button-orng-1{
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 100px;
    font-family: "Poppins";
    font-size: 1.3vw;
    padding: 10px;
    font-weight: normal;
    transition: all .5s ease;
}

.button-orng-1:hover {
    background-color: white;
    color: #ffa500;

}

.button-orng-2{
    background-color: white;
    color: #ffa500;
    border: none;
    border-radius: 100px;
    font-family: "Poppins";
    font-weight: normal;
    transition: all .5s ease;
}

.button-orng-2:hover {
    background-color: #ffa500;
    color: white;
}
/* Media Query */
@media screen and (max-width: 1024px) {
    .home-main-content-text {
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width: 991px) {
    #offcanvasNavbar ul li .non-dropdown, #offcanvasNavbar ul li .nav-item-order, .dropdown .dropdown-title {
        font-size: 15px;
    }

    .navbar-brand img{
        width: 5em;
        margin-left: 2em;
    }

    #offcanvasNavbar ul li .nav-item-order {
        margin-left: -6px;
        padding-left: 6px;   
    }

    .index-nav, .about-nav, .contact-nav {
        height: 40em;
    }

    .home-main-content-text {
        font-size: 2vw;
    }

    .home-main-content-img {
        margin-top: auto;
        margin-bottom: auto;

    }
    
    .home-main-content-img img {
        width: 30vw;
    }

    .button-orng-1 {
        font-size: 2vw;
    }

    .home-features-content-1 h1 {
        font-size: 4vw;
    }
}

    

@media screen and (max-width: 430px) {
    .navbar-brand img {
        width: 4em;
    }

    .index-nav, .about-nav, .contact-nav {
        height: 25em;
    }

    #home-main-content {
        flex-direction: column;
        height: 30em;
    }

    .home-main-content-img {
        display: flex
    }

    .home-main-content-img img {
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }

    .home-main-content-text {
        width: 100%;
        font-size: .65em;
        
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .home-main-content-text p{
        text-align: center;
        
    }

    ion-icon[name="chevron-down-outline"] {
        font-size: 40px;
    }

    .down-arrow ion-icon[name="chevron-down-outline"]:nth-child(2){
        margin-bottom: 1em;
    }

    #home-features{
        flex-direction: column;
    }

    .home-features-content-1, .home-features-content-2 {
        height: 25em;
        width: 100% ;
    }

    .home-features-content-1 h1 {
        font-size: 5vw;
    }

    /* Contact */
    .contact-container {
        height: 600px;
    }
    
    form{
        background: #212529;
        border: none;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
    }

    form h3 {
        text-align: center;
    }
    
    form input, form textarea{
        border: 0;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
        outline: none;
        background: #f5f5f5;
        font-size: 16px;
    } 
    
    form button{
        padding: 15px;
        background: #ff5361;
        color: white;
        font-size: 18px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;
        border-radius: 30px;
    }

    .button-orng-1 {
        font-size: 3vw;
    }

    .footer-content-1-sup-content-1 div:nth-child(1) ul li a {
        width: 9vw;
        height: 9vw;
    }

    .footer-content-1-sup-content-1 div:nth-child(1) ul li .fa-brands {
        font-size: 3vw;
    }

    /* About */
    
    #top-3-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #top-3-about .card {
        width: 100vw;
    }

    #top-3-about .card-text {
        font-family: "Futura LT";
        font-size: 3vw;
    }
    
    #top-3-about .card:nth-child(2) .card-text { 
        text-align: center;
        font-family: "Futura LT";
        font-size: 3vw;
    }

    #top-3-about .card:nth-child(1) .card-img-top{
        width: 40%;
        margin: auto;
        border-radius: 18px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;   
    }
    
    
    #top-3-about .card:nth-child(2) .card-img-top{
        width: 40%;
        margin: auto;
        border-radius: 18px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px; 
    }
    
    
    #top-3-about .card:nth-child(3) .card-img-top{
        width: 40%;
        margin: auto;
        border-radius: 18px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px; 
    }

    .card-img-top {
        order: 1;
    }

    .card-text {
        order: 2;
    }

    #about-view-our-menu {
        height: 20em;
    }

    #about-main-last p{
        font-size: 3vw;
    }

}


footer {
    background-color: #343a40;
    color: white;
    padding: 2rem 0;
}

footer h6 {
    color: #ff6600;
}

footer a {
    color: #ff6600;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
